@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/*Tags*/
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Grotesk", cursive;
}
input {
  font-family: "Space Grotesk", cursive;
  border-radius: 10px;
  border: 1px solid hsl(270, 3%, 87%);
  height: 2.2em;
  margin: 0.5em 0;
  padding: 5px 0.65em 0px 0.65em;
  
  font-size: 18px;
  transition: border 500ms;
}
input:focus {
  outline: none;
  border-left: 1px solid hsl(249, 99%, 64%);
  border-right: 1px solid hsl(278, 94%, 30%);
  border-top: 1px solid hsl(278, 94%, 30%);
  border-bottom: 1px solid hsl(278, 94%, 30%);
}
input:required{
  outline: none;
}
input::placeholder {
  line-height: 1.5;
  font-size: 18px;
  color: hsl(279, 6%, 55%);
  opacity: 0.5;
}


button {
  border-radius: 10px;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Space Grotesk", cursive;
  font-size: 18px;
  
  height: 2.9em;
}
.errorMSG {
  display: none;
  color: red;
  width: 180px;
}
.invalid{
  border: 1px solid red;
}


.form__section{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*----------------Containers--------------*/
.container {
  overflow: hidden;
  position: relative;
  display: grid;
  width: 100%;
}
.card-container {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 375px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.form-container {
  overflow: hidden;
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
}
/*------------Card placement-------------*/
.card__bg__thumb {
  position: relative;
}
.card__bg__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__bg__thumb img {
  width: 100%;
  height: 100%;
  max-height: 325px;
}

.card-f {
  position: absolute;
  top: 0;
  left: 0;
  margin: 125px 0.8em;
  z-index: 1;
  display: grid;
  width: 300px;
}
.card-b {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2em 0.8em;
  z-index: 1;
  display: grid;
  width: 300px;
}
.card__content-f {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0.6em;
  color: white;
}
.card__content-b {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2em;
  justify-content: center;
  height: 100%;
  margin: 0 0.6em;
  color: white;
}
.card__thumb,
.card__content-f,
.card__content-b {
  grid-area: 1/2;
}
.img-card {
  width: 290px;
}

/*Card content*/
.circles img {
  width: min-content;
  height: min-content;
  max-width: 50px;
}
.circles {
  margin: 1em 1em 3em 1em;
}

.card-number {
  display: block;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.5px;

  width: 100%;
}
.information {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em;
}
.card-name,
.card-exp-date,
.card-cvc {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}
.card-cvc {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: end;
}
/*-----------------formulary-----------------*/
.formulary {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 80px 1em;
}

.form__label {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0.5em 0;
}
.exp-date-cvc {
  width: 100%;
  display: grid;
  grid-template-columns: 22% 22% 46%;
  grid-template-rows: 3;
  gap: 3%;
}
.month,.year,.cvc{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 20px;
}
@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 35% 65%;
    
    height: 100vh;
    
  }
  .card__bg__thumb {
    width: 100%;
    height: 100%;
  }

  .card-f {
    position: absolute;
    top: 20%;
    left: 20%;
    margin: 0px;
    z-index: 1;
    display: grid;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -1px rgb(37, 37, 37);
  }
  .card-b {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 0;
    z-index: 1;
    display: grid;
    width: 350px;
    border-radius: 10px;
    box-shadow: -2px 4px 400px 2px rgb(112, 112, 112);
  }
  .card__content-f {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0.6em;
    color: white;
  }
  .card__content-b {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2em;
    justify-content: center;
    height: 100%;
    margin: 0 0.6em;
    color: white;
  }
  .card__thumb,
  .card__content-f,
  .card__content-b {
    grid-area: 1/2;
  }
  .card__bg__thumb .circles img {
    max-width: 60px;
  }
  .circles {
    margin: 1.5em 1em 3em 1em;
  }

  .card-number {
    display: block;
    font-size: 22px;
    text-align: start;
    padding-left: .8em;
    letter-spacing: 2.5px;
    width: 100%;
  }
  .information {
    display: flex;
    justify-content: space-between;
    margin: 1em 1.5em 1em 1em;
  }
  .card-name,
  .card-exp-date,
  .card-cvc {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .card-cvc {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: normal;

    margin-right: 10px;
    margin-bottom: 5px;

    text-align: end;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
  }

  .formulary {
    max-width: 375px;
  }
  .card__bg__thumb img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .card-f {
    top: 20%;
    left: 30%;
    width: 450px;
  }
  .card-b {
    top: 52%;
    left: 60%;
    width: 450px;
  }
  .circles img {
    max-width: 80px;
  }
  .card__bg__thumb img {
    width: 100%;
    height: 100%;
    
    max-height: 100%;
  }
  .circles {
    margin: 2em 1em 3.5em 1.5em;
  }

  .card-number {
    font-size: 30px;
  }
  .information {
    margin: 1em 1.6em;
  }
  .card-name,
  .card-exp-date,
  .card-cvc {
    font-size: 14px;
  }
  
}
